#custom {
  margin-top: 20px;

  .targeting-profile {
    .targeting-profile_menu {
      @media (max-width: 767.98px) {
        margin-bottom: 45px;
      }
    }
  }

  .targeting-header {
    color: #ffffff;
    background-color: #33B5E5;
    padding: 50px 0 35px;
  }
}